= form_for @player do |f|
  - if @player.errors.any?
    #error_explanation
      %h2= "#{pluralize(@player.errors.count, "error")} prohibited this player from being saved:"
      %ul
        - @player.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :min_price
    = f.number_field :min_price
  .field
    = f.label :position
    = f.text_field :position
  .field
    = f.label :user
    = f.text_field :user
  .actions
    = f.submit 'Save'
